<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user-info">
			<h1>
				<%= image_tag(gravatar_url(@user,{size: 200}) , alt: @user.name, class: "gravatar")%>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>


<%= @user.name %>, <%= @user.email %>